<!DOCTYPE html>
<html>
<head lang="es-mx">
    {% include 'components/head.html.twig' %}
</head>
<body>
    <header class="navigation">
        {% include 'components/menu.html.twig' %}
    </header>

    <div class="content container">
        <div class="row">
            <div class="media col-sm-8 avatar">
                <div class="media-left media-middle">
                    <img src="/images/luis.jpg" class="media-object img-circle" alt="Luis">
                </div>
                <div class="media-body">
                    <div class="media-heading"><h1>¡Hola!</h1></div>

                    Soy Luis Montealegre Vázquez y soy <strong>desarrollador Web</strong>
                    e <strong>Instructor</strong> en
                    <a href="http://codeup.com/about/" target="_blank">Codeup</a>.
                </div>
                {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
            </div>
            <div class="col-sm-4 sidebar">
                {% include 'components/sidebar.html.twig' %}
            </div>
        </div>
    </div>

    <footer>
        {% include 'components/footer.html.twig' %}
    </footer>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% include 'components/analytics.html.twig' %}
</body>
</html>
