<!DOCTYPE html>
<html>
<head lang="es-mx">
    {% include 'components/head.html.twig' %}
    <link rel="stylesheet" href="/components/highlightjs/styles/solarized_light.css" />
</head>
<body>
    <header class="navigation">
        {% include 'components/menu.html.twig' %}
    </header>

    <div class="content container">
        <div class="row">
            <div class="col-sm-9">
                {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                {% include 'components/disqus.html.twig' %}
            </div>
            <div class="col-sm-3 sidebar">
                {% include 'components/sidebar.html.twig' %}
            </div>
        </div>
    </div>

    <footer>
        {% include 'components/footer.html.twig' %}
    </footer>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/components/highlightjs/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% include 'components/analytics.html.twig' %}
</body>
</html>
