<!DOCTYPE html>
<html>
<head lang="es-mx">
    {% include 'components/head.html.twig' %}
</head>
<body>
    <header class="navigation">
        {% include 'components/menu.html.twig' %}
    </header>

    <div class="content container">
        <div class="row">
            <div class="col-sm-9">
                {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
            </div>
            <div class="col-sm-3 sidebar">
                {% include 'components/sidebar.html.twig' %}
            </div>
        </div>
    </div>

    <footer>
        {% include 'components/footer.html.twig' %}
    </footer>

    {% include 'components/scripts.html.twig' %}
    {% include 'components/analytics.html.twig' %}
</body>
</html>
