<!DOCTYPE html>
<html>
<head lang="es-mx">
    {% include 'components/head.html.twig' %}
</head>
<body class="home">
    <header class="navigation">
        {% include 'components/menu.html.twig' %}
    </header>

    <div class="image-bg-fixed-height">
        <div class="container welcome">
            ¡Bienvenid@!
        </div>
    </div>
    <div class="content container">
        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    </div>

    <footer>
        {% include 'components/footer.html.twig' %}
    </footer>

    {% include 'components/scripts.html.twig' %}
    {% include 'components/comments.html.twig' %}
    {% include 'components/analytics.html.twig' %}
</body>
</html>
