<!DOCTYPE html>
<html>
<head lang="es-mx">
    {% include 'components/head.html.twig' %}
</head>
<body class="home">
    <header class="navigation">
        {% include 'components/menu.html.twig' %}
    </header>

    <div class="image-bg-fixed-height">
        <div class="container welcome">
            ¡Bienvenid@!
        </div>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-sm-12">
                {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
            </div>
        </div>
    </div>

    <footer>
        {% include 'components/footer.html.twig' %}
    </footer>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
    </script>
    {% include 'components/comments.html.twig' %}
    {% include 'components/analytics.html.twig' %}
</body>
</html>
