{% extends "default" %}
{% block content_wrapper %}
    <article>
        <header>
            <div class="page-header"><h1>{{ page.title }}</h1></div>
            <p>
                <span class="glyphicon glyphicon-time"></span> {{ page.date|date("j M Y") }}&nbsp;
                <span class="glyphicon glyphicon-bookmark"></span>
                <a href="{{ site.url }}/blog/categories/{{ page.categories[0]|url_encode(true) }}">
                    {{ page.categories[0] }}
                </a>&nbsp;
                <span class="glyphicon glyphicon-tags"></span>&nbsp;
                {% for tag in page.tags %}
                    <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">
                        {{ tag }}
                    </a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
        </header>
        <div>
            {{ page.blocks.content|raw }}
        </div>

        {% if page.previous_post or page.next_post %}
            <nav class="article">
                <ul>
                    {% if page.next_post %}
                        <li>Next: <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}"><span class="title">{{ page.next_post.title }}</span></a></li>
                    {% endif %}
                    {% if page.previous_post %}
                        <li>Previous: <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}"><span class="title">{{ page.previous_post.title }}</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </article>
{% endblock %}
