<div class="container">
    &copy; 2014 - {{ "now"|date("Y") }} Luis Montealegre
    <p  class="pull-right">
        <a href="http://creativecommons.org/licenses/by-nc/2.5/">
            <img src="/images/cc.primary.srr.gif" alt="Algunos derechos reservados">
        </a>
    </p>
</div>
