---
layout: en/default
title: Blog
generator: pagination
pagination:
    max_per_page: 6
use:
    - posts_categories
---
<h1 class="title">What's this blog about?</h1>

<p>
    Friends will know that I love to spend my time <strong>learning</strong>.
    Lately, I've been reading about, object-oriented design, agile methodologies, TDD, BDD, DDD and
    education. This blog's goal is to share the things I've learned by practicing the things I read.
    All the posts here are about those topics applied to <strong>Web development</strong>.
</p>

<div class="posts-list">
{% for post in page.pagination.items %}
    {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
    <div class="col-sm-6 posts-list">
        {% include 'components/en/post.html.twig' %}
    </div>
    {% if loop.index0 % 2 == 1 or loop.last %}</div>{% endif %}
{% endfor %}
</div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}
            <a href="{{ page.pagination.previous_page.url }}" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-calendar"></span> Most recent posts
            </a>
        {% endif %}<br />
        {% if page.pagination.next_page %}
            <a href="{{ page.pagination.next_page.url }}" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-calendar"></span> Previous Posts
            </a>
        {% endif %}<br />
    </nav>
{% endif %}
