---
layout: en/index
title: Howdy!
---
<div class="container">
    <article class="row">
        <div class="col-sm-12">
            <header><h1 class="title">Howdy!</h1></header>
        </div>
        <div class="col-sm-6">
            <p>
                Mi name is Luis Montealegre Vázquez, I graduated with a <strong>Master's Degree in
                Computer Science</strong> at
                <a href="http://www.cs.buap.mx/" target="_blank" rel="noopener">
                    BUAP
                </a>
                where I did some
                <a
                    href="http://link.springer.com/chapter/10.1007%2F978-3-540-74459-7_13#page-1"
                    target="_blank"
                    rel="noopener"
                >
                    research.
                </a>
            </p>
            <p>
                Since 2005, I started developing web applications in companies such as
                <a
                    href="http://www.cfe.gob.mx/paginas/home.aspx"
                    target="_blank"
                    rel="noopener"
                >
                    CFE
                </a>,
                <a href="http://www.ellucian.com/" target="_blank" rel="noopener">
                    Ellucian
                </a>,
                <a href="http://www.biconsulting.mx/" target="_blank" rel="noopener">
                    Bic Consulting
                </a>,
                <a href="http://www.digizent.com/" target="_blank" rel="noopener">
                    Digizent International
                </a>
                and as an <strong>independent consultant</strong>.
                During these <strong>12 years</strong> I have worked with several
                programming languages, mainly: <strong>PHP</strong>, <strong>Java</strong>
                and <strong>C#</strong>.
            </p>
            <p>
                I've also been a part-time professor at 10 universities in Puebla, teaching about
                several programming topics. In July 2012, with the support of many friends, I
                organized the
                <a
                    href="http://www.comunidadphppuebla.com"
                    target="_blank"
                    rel="noopener"
                >
                    PHP Puebla User Group.
                </a>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                In January, 2016, I moved to <strong>San Antonio Texas</strong> to start a new
                adventure with my family, as a full-time instructor for the first time, at
                <a href="http://codeup.com/about/" target="_blank" rel="noopener">
                    Codeup.
                </a>
            </p>
            <p>
                I love to spend my spare time with my wife (<strong>Meri</strong>) and my two
                children (<strong>Mario</strong> and <strong>Alejandro</strong>, 5 and 3 years old
                respectively). Things I enjoy the most: coffee, pizza, sushi, dark beer and science
                fiction movies.
            </p>
            <p>
                <strong>You can contact me</strong> through the social network links on this site
                or by mail, either to work on something together or to talk about whatever you want.
            </p>
        </div>
    </article>
</div>

<div class="highlight">
    <div class="col-sm-12">
        <blockquote class="thanks">
            <p class="lead text-center">Thank you very much for your time!</p>
        </blockquote>
    </div>
</div>

<section class="container content">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="contact">
                <a class="contact" href="mailto:montealegreluis@gmail.com">
                    Contact me!
                    <img src="/images/contact.png">
                </a>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <figure class="text-center">
                <img
                    src="/images/uncle-bob.jpg"
                    class="img-responsive img-rounded center-block"
                    alt="Con Uncle Bob"
                    title="Con Uncle Bob"
                >
                <figcaption>Uncle Bob</figcaption>
            </figure>
        </div>
        <div class="col-sm-4">
            <figure class="text-center">
                <img
                    src="/images/comunidad.jpg"
                    class="img-responsive img-rounded center-block"
                    alt="Amigos comunidad"
                >
                <figcaption>My friends in Puebla</figcaption>
            </figure>
        </div>
        <div class="col-sm-4">
            <figure class="text-center">
                <img
                    src="/images/eric-evans.jpg"
                    class="img-responsive img-rounded center-block"
                    alt="Con Eric Evans"
                    title="Con Eric Evans"
                >
                <figcaption>Eric Evans</figcaption>
            </figure>
        </div>
    </div>
</section>
