---
layout: default
title: Archivo
generator: pagination
use:
    - posts
    - posts_categories
---
<div class="page-header"><h2><span class="glyphicon glyphicon-folder-open"></span> Archivo</h2></div>

{% include 'components/posts-list.html.twig' %}

<div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="article clearfix">
    {% if page.pagination.previous_page %}
    <a class="previous" href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Previous Page"><span class="title">Página anterior</span></a>
    {% endif %}
    {% if page.pagination.next_page %}
    <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Next Page"><span class="title">Página siguiente</span></a>
    {% endif %}
    </nav>
{% endif %}
</div>
