---
layout: default
title: Bienvenid@
generator: pagination
pagination:
    max_per_page: 6
use:
    - posts_categories
---
<div class="posts-list">
{% for post in page.pagination.items %}
    {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
    <div class="col-sm-6 posts-list">
        {% include 'components/post.html.twig' %}
    </div>
    {% if loop.index0 % 2 == 1 or loop.last %}</div>{% endif %}
{% endfor %}
</div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}
            <a href="{{ page.pagination.previous_page.url }}" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-calendar"></span> Posts más recientes
            </a>
        {% endif %}<br />
        {% if page.pagination.next_page %}
            <a href="{{ page.pagination.next_page.url }}" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-calendar"></span> Posts anteriores
            </a>
        {% endif %}<br />
    </nav>
{% endif %}
