---
layout: default
title: Blog
generator: pagination
pagination:
    max_per_page: 6
use:
    - posts_categories
---
<h1 class="title">¿De qué trata este blog?</h1>

<p>
    Las personas que me conocen sabrán que me encanta pasar el
    tiempo <strong>aprendiendo</strong>, últimamente me la paso leyendo
    sobre diseño orientado a objetos, metodologías ágiles,
    <a
        href="http://es.wikipedia.org/wiki/Desarrollo_guiado_por_pruebas"
        target="_blank"
        rel="noopener"
    >
        TDD
    </a>,
    <a
        href="http://en.wikipedia.org/wiki/Behavior-driven_development"
        target="_blank"
        rel="noopener"
    >
        BDD
    </a>,
    <a
        href="http://es.wikipedia.org/wiki/Dise%C3%B1o_guiado_por_el_dominio"
        target="_blank"
        rel="noopener"
    >
        DDD
    </a> y educación. Este blog tiene como objetivo compartir las cosas
    que voy aprendiendo al poner en práctica las cosas que me gusta leer.
    Los posts que encontrarás aquí son sobre estos temas aplicados al
    <strong>desarrollo Web</strong>.
</p>

<div class="posts-list">
{% for post in page.pagination.items %}
    {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
    <div class="col-sm-6 posts-list">
        {% include 'components/post.html.twig' %}
    </div>
    {% if loop.index0 % 2 == 1 or loop.last %}</div>{% endif %}
{% endfor %}
</div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}
            <a href="{{ page.pagination.previous_page.url }}" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-calendar"></span> Posts más recientes
            </a>
        {% endif %}<br />
        {% if page.pagination.next_page %}
            <a href="{{ page.pagination.next_page.url }}" class="btn btn-primary btn-lg btn-block">
                <span class="glyphicon glyphicon-calendar"></span> Posts anteriores
            </a>
        {% endif %}<br />
    </nav>
{% endif %}
