---
layout: index
title: Bienvenid@
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---
<div class="posts-list">
{% for post in page.pagination.items %}
    <div class="col-sm-4 posts-list">
        {% include 'components/post.html.twig' %}
    </div>
{% endfor %}
</div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}
            <a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Posts más recientes</a>
        {% endif %}<br />
        {% if page.pagination.next_page %}
            <a href="{{ site.url }}{{ page.pagination.next_page.url }}">Posts anteriores</a>
        {% endif %}<br />
    </nav>
{% endif %}
