---
layout: index
title: Bienvenid@
generator: pagination
pagination:
    max_per_page: 6
use:
    - posts
---
<div class="posts-list">
{% for post in page.pagination.items %}
    {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
    <div class="col-sm-6 posts-list">
        {% include 'components/post.html.twig' %}
    </div>
    {% if loop.index0 % 2 == 1 or loop.last %}</div>{% endif %}
{% endfor %}
</div>
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}
            <a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Posts más recientes</a>
        {% endif %}<br />
        {% if page.pagination.next_page %}
            <a href="{{ site.url }}{{ page.pagination.next_page.url }}">Posts anteriores</a>
        {% endif %}<br />
    </nav>
{% endif %}
