---
layout: index
title: ¡Hola!
---
<div class="container">
    <article class="row">
        <div class="col-sm-12">
            <header><h1 class="title">¡Hola!</h1></header>
        </div>
        <div class="col-sm-6">
            <p>
                Soy Luis Montealegre Vázquez, egresado de la <strong>Maestría en
                Ciencias de la Computación</strong> en la
                <a href="http://www.cs.buap.mx/" target="_blank" rel="noopener">
                    BUAP
                </a>
                donde hice un poco de
                <a
                    href="http://link.springer.com/chapter/10.1007%2F978-3-540-74459-7_13#page-1"
                    target="_blank"
                    rel="noopener"
                >
                    investigación
                </a>.
            </p>
            <p>
                Desde el 2005 empecé a desarrollar aplicaciones Web en empresas como
                <a
                    href="http://www.cfe.gob.mx/paginas/home.aspx"
                    target="_blank"
                    rel="noopener"
                >
                    CFE
                </a>,
                <a href="http://www.ellucian.com/" target="_blank" rel="noopener">
                    Ellucian
                </a>,
                <a href="http://www.biconsulting.mx/" target="_blank" rel="noopener">
                    Bic Consulting
                </a>,
                <a href="http://www.digizent.com/" target="_blank" rel="noopener">
                    Digizent International
                </a>
                y como <strong>consultor independiente</strong>.
                Durante estos <strong>15 años</strong> he trabajado con varios
                lenguajes de programación, principalmente: <strong>PHP</strong>, <strong>Java</strong>
                y <strong>C#</strong>
            </p>
            <p>
                También he sido profesor por asignatura en 10 universidades en Puebla,
                en varias materias de programación.
                En julio de 2012, con el apoyo de muchos amig@s, organizamos el
                <a
                    href="https://www.facebook.com/ComPeHPPuebla/"
                    target="_blank"
                    rel="noopener"
                >
                    Grupo de usuarios PHP en Puebla
                </a>.
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                En enero de 2016 me mudé a <strong>San Antonio Texas</strong> a
                empezar una nueva aventura con mi familia, como instructor, por
                primera vez de tiempo completo, en
                <a href="https://codeup.com/" target="_blank" rel="noopener">
                    Codeup
                </a>.
            </p>
            <p>
                En mayo de 2018 tuve la fortuna de unirme al
                <a href="https://www.ea.com/news/tour-the-ea-austin-studio" target="_blank" rel="noopener">
                    equipo de EA
                </a>,
                en Austin, Texas, donde trabajo actualmente
            </p>
            <p>
                Fuera de mi trabajo me gusta pasar tiempo con mi esposa Meri y mis dos
                hijos Mario y Alejandro.
            </p>
        </div>
    </article>
</div>
