---
layout: portfolio
title: Portfolio
use:
- posts_categories
---
<header>
    <h1 class="title">
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        Portafolio
    </h1>
</header>
<div class="row hidden-xs">
    <div class="text-center filters">
        <div class="btn-group" role="group">
            <button type="button" data-filter="*" class="btn btn-primary active">Todo</button>
            <button type="button" data-filter="application" class="btn btn-primary">Aplicaciones</button>
            <button type="button" data-filter="library" class="btn btn-primary">Librerías</button>
            <button type="button" data-filter="tutorial" class="btn btn-primary">Video tutoriales</button>
            <button type="button" data-filter="java" class="btn btn-primary">Java</button>
            <button type="button" data-filter="php" class="btn btn-primary">PHP</button>
            <button type="button" data-filter="javascript" class="btn btn-primary">Javascript</button>
            <button type="button" data-filter="docker" class="btn btn-primary">Docker</button>
        </div>
    </div>
</div>
<section class="portfolio grid row">
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item library php">
        <div class="panel panel-php">
            <div class="panel-heading">
                <i class="devicon-php-plain"></i>
                phUML
            </div>
            <div class="panel-body">
                phUML es un generador completamente automático de diagramas de clase escrito en PHP.
                Crea diagramas de clase basados en la especificación UML a partir de código orientado a objetos.
            </div>
            <div class="panel-footer">
                <a
                        href="https://github.com/MontealegreLuis/phuml"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
                <a
                        href="https://travis-ci.org/github/MontealegreLuis/phuml"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://travis-ci.org/MontealegreLuis/phuml.svg?branch=master"
                            alt="Build Status"
                    >
                </a>
                <a
                        href="https://scrutinizer-ci.com/g/MontealegreLuis/phuml/?branch=master"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://scrutinizer-ci.com/g/MontealegreLuis/phuml/badges/quality-score.png?b=master"
                            alt="Scrutinizer"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item application java">
        <div class="panel panel-java">
            <div class="panel-heading">
                <i class="devicon-java-plain"></i>
                Blog con Spring boot
            </div>
            <div class="panel-body">
                Aplicación Web, con login, manejo de posts, y subida de imágenes en Spring Boot.
                Implementa seguridad a nivel de método usando una expresión personalizada que
                sólo permite modificar posts propios
            </div>
            <div class="panel-footer">
                <a
                    href="https://github.com/MontealegreLuis/spring-blog"
                    target="_blank"
                    rel="noopener"
                    class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
                <a
                    href="https://travis-ci.org/MontealegreLuis/spring-blog"
                    target="_blank"
                    rel="noopener"
                    class="code-badge"
                >
                    <img
                        src="https://travis-ci.org/MontealegreLuis/spring-blog.svg?branch=master"
                        alt="Build Status"
                    >
                </a>
                <a
                    href="https://codebeat.co/projects/github-com-montealegreluis-spring-blog-master"
                    target="_blank"
                    rel="noopener"
                    class="code-badge"
                >
                    <img
                        src="https://codebeat.co/badges/cb353c07-f5f0-4862-a7f1-419008e1c40b"
                        alt="codebeat badge"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item application ruby">
        <div class="panel panel-ruby">
            <div class="panel-heading">
                <i class="devicon-ruby-plain"></i>
                Contactos en Ruby
            </div>
            <div class="panel-body">
                Applicación de línea de comandos para manejar los contactos de una persona.
                Demuestra como escribir tests de integración usando rspec y SQLite
            </div>
            <div class="panel-footer">
                <a
                        href="https://github.com/MontealegreLuis/contacts-manager"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
                <a
                        href="https://travis-ci.org/MontealegreLuis/contacts-manager"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://travis-ci.org/MontealegreLuis/contacts-manager.svg?branch=master"
                            alt="Build Status"
                    >
                </a>
                <a
                        href="https://codeclimate.com/github/MontealegreLuis/contacts-manager"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://codeclimate.com/github/MontealegreLuis/contacts-manager/badges/gpa.svg"
                            alt="Code Climate"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item library docker">
        <div class="panel panel-docker">
            <div class="panel-heading">
                <i class="devicon-docker-plain"></i>
                Contenedor con PHP 7
            </div>
            <div class="panel-body">
                <p>
                    Docker container para configurar fácilmente una aplicación con
                    PHP 7. Tan fácil como copiar tu código a la carpeta <code>sites</code>.
                </p>
            </div>
            <div class="panel-footer">
                <a
                        href="https://github.com/MontealegreLuis/php-container"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item application javascript">
        <div class="panel panel-javascript">
            <div class="panel-heading">
                <i class="devicon-javascript-plain"></i>
                Simple Simon con ES6
            </div>
            <div class="panel-body">
                Este es una implementación del juego Simple Simon, usando TDD. Utiliza
                clases y módulos ES6 y las pruebas están escritas con Jasmine
            </div>
            <div class="panel-footer">
                <a
                        href="https://github.com/MontealegreLuis/simple-simon"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
                <a
                        href="https://travis-ci.org/MontealegreLuis/simple-simon"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://travis-ci.org/MontealegreLuis/simple-simon.svg?branch=master"
                            alt="Build Status"
                    >
                </a>
                <a
                        href="https://codebeat.co/projects/github-com-montealegreluis-simple-simon"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://codebeat.co/badges/fc41b73e-e111-4349-bc44-6eb913087c40"
                            alt="codebeat badge"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item library php">
        <div class="panel panel-php">
            <div class="panel-heading">
                <i class="devicon-doctrine-plain"></i>
                Fixtures con DBAL
            </div>
            <div class="panel-body">
                <p>
                    Este paquete permite crear fixtures para pruebas, usando archivos YAML, sin
                    necesidad de un ORM, usando Doctrine DBAL.
                </p>
            </div>
            <div class="panel-footer">
                <a
                        href="https://github.com/ComPHPPuebla/dbal-fixtures"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
                <a
                        href="https://travis-ci.org/ComPHPPuebla/dbal-fixtures"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://travis-ci.org/ComPHPPuebla/dbal-fixtures.svg?branch=master"
                            alt="Build Status"
                    >
                </a>
                <a
                        href="https://insight.sensiolabs.com/projects/d876000d-611d-473f-b58c-64582903f7a9"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://insight.sensiolabs.com/projects/d876000d-611d-473f-b58c-64582903f7a9/mini.png"
                            alt="SensioLabsInsight"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item application java">
        <div class="panel panel-java">
            <div class="panel-heading">
                <i class="devicon-java-plain"></i>
                Películas con Hibernate
            </div>
            <div class="panel-body">
                Aplicación de línea de comandos, para buscar peliculas por categoría y título. El
                mapeo de las entidades es en XML. Incluye varios ejemplos de queries con HQL.
            </div>
            <div class="panel-footer">
                <a
                        href="https://github.com/MontealegreLuis/hibernate-example"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
                <a
                        href="https://travis-ci.org/MontealegreLuis/hibernate-example"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://travis-ci.org/MontealegreLuis/hibernate-example.svg?branch=master"
                            alt="Build Status"
                    >
                </a>
                <a
                        href="https://codebeat.co/projects/github-com-montealegreluis-hibernate-example"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://codebeat.co/badges/df70242a-a3d4-4367-8785-6703e4e243e6"
                            alt="codebeat badge"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item library php">
        <div class="panel panel-php">
            <div class="panel-heading">
                <i class="devicon-php-plain"></i>
                Modulos con Slim 2
            </div>
            <div class="panel-body">
                <p>
                    Este paquete introduce provedores de servicios y controladores, a fin de
                    poder organizar una aplicación Slim en una estructura modular similar a los
                    bundles de Symfony o los módulos de Zend.
                </p>
            </div>
            <div class="panel-footer">
                <a
                        href="https://github.com/ComPHPPuebla/slim-modules"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
                <a
                        href="https://travis-ci.org/ComPHPPuebla/slim-modules"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://travis-ci.org/ComPHPPuebla/slim-modules.svg?branch=master"
                            alt="Build Status"
                    >
                </a>
                <a
                        href="https://insight.sensiolabs.com/projects/b86318b0-47ce-4d47-a0a4-db6e98dc8451"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://insight.sensiolabs.com/projects/b86318b0-47ce-4d47-a0a4-db6e98dc8451/mini.png"
                            alt="SensioLabsInsight"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item application java">
        <div class="panel panel-java">
            <div class="panel-heading">
                <i class="devicon-java-plain"></i>
                Películas con Servlets
            </div>
            <div class="panel-body">
                Esta es una aplicación Web para buscar peliculas por categoría y título. Utiliza
                Servlets, JSP/JSTL y JDBC. Las pruebas de integracion usan HSQLDB
            </div>
            <div class="panel-footer">
                <a
                        href="https://github.com/MontealegreLuis/hibernate-example"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
                <a
                        href="https://travis-ci.org/MontealegreLuis/movies"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://travis-ci.org/MontealegreLuis/movies.svg?branch=master"
                            alt="Build Status"
                    >
                </a>
                <a
                        href="https://codebeat.co/projects/github-com-montealegreluis-movies"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://codebeat.co/badges/9a9920f0-dbf3-4424-a5dc-e7d429870bdc"
                            alt="codebeat badge"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item application php">
        <div class="panel panel-php">
            <div class="panel-heading">
                <i class="devicon-laravel-plain"></i>
                Reddit usando Laravel
            </div>
            <div class="panel-body">
                Aplicación Web escrita en Laravel que implementa la funcionalidad básica de Reddit.
                Las pruebas de este proyecto utilizan phpspec
            </div>
            <div class="panel-footer">
                <a
                        href="https://github.com/MontealegreLuis/readit"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
                <a
                        href="https://travis-ci.org/MontealegreLuis/readit"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://travis-ci.org/MontealegreLuis/readit.svg?branch=master"
                            alt="Build Status"
                    >
                </a>
                <a
                        href="https://insight.sensiolabs.com/projects/b412e223-6012-472f-ad54-ba81fe85eca4"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://insight.sensiolabs.com/projects/b412e223-6012-472f-ad54-ba81fe85eca4/mini.png"
                            alt="SensioLabsInsight"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item application ruby">
        <div class="panel panel-ruby">
            <div class="panel-heading">
                <i class="devicon-ruby-plain"></i>
                Chatbot en Ruby
            </div>
            <div class="panel-body">
                Aplicación de línea de comandos con un Chatbot muy minimalístico.
                Demuestra como implementar manipulación de cadenas en Rubi y como usar rspec para pruebas unitarias
            </div>
            <div class="panel-footer">
                <a
                        href="https://github.com/MontealegreLuis/chat-bot"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
                <a
                        href="https://travis-ci.org/MontealegreLuis/chat-bot"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://travis-ci.org/MontealegreLuis/chat-bot.svg?branch=master"
                            alt="Build Status"
                    >
                </a>
                <a
                        href="https://codeclimate.com/github/MontealegreLuis/chat-bot"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://codeclimate.com/github/MontealegreLuis/chat-bot/badges/gpa.svg"
                            alt="Code Climate"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item tutorial php">
        <div class="panel panel-php">
            <div class="panel-heading">
                <i class="devicon-php-plain"></i>
                TDD 101 <small>(español)</small>
            </div>
            <div class="panel-body">
                <p>
                    Este un demo en vivo, para comenzar a hacer TDD usando PHPUnit. También
                    explico las diferencias entre transformaciones de código y refactoring.
                </p>
            </div>
            <div class="panel-footer">
                <a
                        href="https://www.youtube.com/watch?v=2GuYLle45bw"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item application java">
        <div class="panel panel-java">
            <div class="panel-heading">
                <i class="devicon-java-plain"></i>
                Yelp API en Spring Boot
            </div>
            <div class="panel-body">
                Aplicación Web escrita en Spring Boot.
                Permite buscar por ubicación y categoría usando la API Yelp Fusion.
                Demuestra como usar los endpoints de búsqueda, reviews y negocios.
            </div>
            <div class="panel-footer">
                <a
                        href="https://github.com/MontealegreLuis/yelp-demo"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
                <a
                        href="https://codebeat.co/projects/github-com-montealegreluis-yelp-demo-master"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://codebeat.co/badges/0704b6a2-cd9a-446b-bc67-4db792c641a0"
                            alt="Codebeat"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item application php">
        <div class="panel panel-php">
            <div class="panel-heading">
                <i class="devicon-php-plain"></i>
                Testing en PHP
            </div>
            <div class="panel-body">
                Ejemplos de código con varias herramientas de pruebas en PHP: Behat, phpspec,
                PHPUnit, Mockery, Alice, Codeception, Eris, Humbug
            </div>
            <div class="panel-footer">
                <a
                    href="https://github.com/MontealegreLuis/php-testing-tools"
                    target="_blank"
                    rel="noopener"
                    class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
                <a
                    href="https://travis-ci.org/MontealegreLuis/php-testing-tools"
                    target="_blank"
                    rel="noopener"
                    class="code-badge"
                >
                    <img
                        src="https://travis-ci.org/MontealegreLuis/php-testing-tools.svg?branch=master"
                        alt="Build Status"
                    >
                </a>
                <a
                    href="https://codeclimate.com/github/MontealegreLuis/php-testing-tools"
                    target="_blank"
                    rel="noopener"
                    class="code-badge"
                >
                    <img
                        src="https://codeclimate.com/github/MontealegreLuis/php-testing-tools/badges/gpa.svg"
                        alt="Code Climate"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item tutorial php">
        <div class="panel panel-php">
            <div class="panel-heading">
                <i class="devicon-php-plain"></i>
                Testing en PHP <small>(español)</small>
            </div>
            <div class="panel-body">
                <p>
                    Esta es una introducción al testing en PHP usando varias librerias:
                    Behat, phpspec, PHPUnit, Mockery, Alice, Codeception, Eris, Humbug.
                </p>
            </div>
            <div class="panel-footer">
                <a
                    href="https://www.youtube.com/watch?v=6IH2Un35pb0"
                    target="_blank"
                    rel="noopener"
                    class="github"
                >
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item library java">
        <div class="panel panel-java">
            <div class="panel-heading">
                <i class="devicon-java-plain"></i>
                Cliente Java Yelp Fusion
            </div>
            <div class="panel-body">
                Cliente en Java para la API Yelp Fusion.
                Actualmente soporta los endpoints de búsqueda, reviews y negocios
            </div>
            <div class="panel-footer">
                <a
                        href="https://github.com/MontealegreLuis/yelpv3-java-client"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="devicon-github-original"></i>
                </a>
                <a
                        href="https://travis-ci.org/MontealegreLuis/yelpv3-java-client"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://travis-ci.org/MontealegreLuis/yelpv3-java-client.svg?branch=master"
                            alt="Build Status"
                    >
                </a>
                <a
                        href="https://codebeat.co/projects/github-com-montealegreluis-yelpv3-java-client-master"
                        target="_blank"
                        rel="noopener"
                        class="code-badge"
                >
                    <img
                            src="https://codebeat.co/badges/6af99e8b-adb4-4f26-9fa8-e586aa7986e6"
                            alt="Codebeat badge"
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 grid-item tutorial php">
        <div class="panel panel-php">
            <div class="panel-heading">
                <i class="devicon-php-plain"></i>
                Taller de Slim 2 <small>(español)</small>
            </div>
            <div class="panel-body">
                <p>
                    Este es un taller de Slim 2 dividido en 2 videos. Se trata una pequeña
                    aplicación para subir, navegar y reproducir archivos de audio.
                </p>
            </div>
            <div class="panel-footer">
                <a
                        href="https://www.youtube.com/watch?v=P5s8Sydo154"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="fa fa-youtube"></i> 1
                </a>
                <a
                        href="https://www.youtube.com/watch?v=iRDwfnKOKtk"
                        target="_blank"
                        rel="noopener"
                        class="github"
                >
                    <i class="fa fa-youtube"></i> 2
                </a>
            </div>
        </div>
    </div>
</section>
