---
layout: static
title: Portfolio
use:
- posts_categories
---
<header class="page-header">
    <h1>
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        Portfolio
    </h1>
</header>
<section>
    <h2 id="applications">
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        Applications
    </h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-java">
                <div class="panel-heading">
                    <i class="devicon-java-plain"></i>
                    Spring boot example
                </div>
                <div class="panel-body">
                    This is a small blog that demonstrates the use of Spring boot.
                </div>
                <div class="panel-footer">
                    <a
                        href="https://github.com/MontealegreLuis/spring-blog"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-java">
                <div class="panel-heading">
                    <i class="devicon-java-plain"></i>
                    Hibernate example
                </div>
                <div class="panel-body">
                    This is a command line application, showing how to map a
                    many to many relationship using XML, and how to write some HQL
                    queries.
                </div>
                <div class="panel-footer">
                    <a
                        href="https://github.com/MontealegreLuis/hibernate-example"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                    <a
                        href="https://travis-ci.org/MontealegreLuis/hibernate-example"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://travis-ci.org/MontealegreLuis/hibernate-example.svg?branch=master"
                            alt="Build Status"
                        >
                    </a>
                    <a
                        href="https://codebeat.co/projects/github-com-montealegreluis-hibernate-example"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://codebeat.co/badges/df70242a-a3d4-4367-8785-6703e4e243e6"
                            alt="codebeat badge"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-java">
                <div class="panel-heading">
                    <i class="devicon-java-plain"></i>
                    Web application with Servlets example
                </div>
                <div class="panel-body">
                    This is a small web application with a catalog of movies.
                </div>
                <div class="panel-footer">
                    <a
                        href="https://github.com/MontealegreLuis/hibernate-example"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                    <a
                        href="https://travis-ci.org/MontealegreLuis/movies"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://travis-ci.org/MontealegreLuis/movies.svg?branch=master"
                            alt="Build Status"
                        >
                    </a>
                    <a
                        href="https://codebeat.co/projects/github-com-montealegreluis-movies"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://codebeat.co/badges/9a9920f0-dbf3-4424-a5dc-e7d429870bdc"
                            alt="codebeat badge"
                        >
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-js">
                <div class="panel-heading">
                    <i class="devicon-javascript-plain"></i>
                    Simple Simon game
                </div>
                <div class="panel-body">
                    This is a Simple Simon Game written with vanilla JS using
                    TDD.
                </div>
                <div class="panel-footer">
                    <a
                        href="https://github.com/MontealegreLuis/simple-simon"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                    <a
                        href="https://travis-ci.org/MontealegreLuis/simple-simon"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://travis-ci.org/MontealegreLuis/simple-simon.svg?branch=master"
                            alt="Build Status"
                        >
                    </a>
                    <a
                        href="https://codebeat.co/projects/github-com-montealegreluis-simple-simon"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://codebeat.co/badges/fc41b73e-e111-4349-bc44-6eb913087c40"
                            alt="codebeat badge"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-php">
                <div class="panel-heading">
                    <i class="devicon-php-plain"></i>
                    PHP testing tools
                </div>
                <div class="panel-body">
                    Code examples with several PHP testing tools: Behat, phpspec,
                    PHPUnit, Mockery, Alice, Codeception, Eris, Humbug
                </div>
                <div class="panel-footer">
                    <a
                        href="https://github.com/MontealegreLuis/php-testing-tools"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                    <a
                        href="https://travis-ci.org/MontealegreLuis/php-testing-tools"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://travis-ci.org/MontealegreLuis/php-testing-tools.svg?branch=master"
                            alt="Build Status"
                        >
                    </a>
                    <a
                        href="https://codeclimate.com/github/MontealegreLuis/php-testing-tools"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://codeclimate.com/github/MontealegreLuis/php-testing-tools/badges/gpa.svg"
                            alt="Code Climate"
                        >
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-php">
                <div class="panel-heading">
                    <i class="devicon-laravel-plain"></i>
                    Lightweight clone of Reddit using Laravel
                </div>
                <div class="panel-body">
                    Small Laravel application implementing Reddit's basic
                    functionality.
                </div>
                <div class="panel-footer">
                    <a
                        href="https://github.com/MontealegreLuis/readit"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                    <a
                        href="https://travis-ci.org/MontealegreLuis/readit"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://travis-ci.org/MontealegreLuis/readit.svg?branch=master"
                            alt="Build Status"
                        >
                    </a>
                    <a
                        href="https://insight.sensiolabs.com/projects/b412e223-6012-472f-ad54-ba81fe85eca4"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://insight.sensiolabs.com/projects/b412e223-6012-472f-ad54-ba81fe85eca4/mini.png"
                            alt="SensioLabsInsight"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-php">
                <div class="panel-heading">
                    <i class="devicon-zend-plain"></i>
                    Custom CMS using ZF1
                </div>
                <div class="panel-body">
                    This is a small custom CMS written in ZF1 for a Real Estate
                    Consulting Company.
                </div>
                <div class="panel-footer">
                    <a
                        href="https://bitbucket.org/MontealegreLuis/edeco"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-php">
                <div class="panel-heading">
                    <i class="devicon-zend-plain"></i>
                    Small catalog of products using ZF1 and ZF2
                </div>
                <div class="panel-body">
                    This is a small catalog of products using ZF1. Where you can
                    find some of my experiments on integrating more modern
                    components, like ZF2's service manager, phpspec and Twig.
                </div>
                <div class="panel-footer">
                    <a
                        href="https://bitbucket.org/MontealegreLuis/agata"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-php">
                <div class="panel-heading">
                    <i class="devicon-laravel-plain"></i>
                    Fitbit API integration with Laravel
                </div>
                <div class="panel-body">
                    Small Laravel application to demo the use of the Fitbit API
                </div>
                <div class="panel-footer">
                    <a
                        href="https://github.com/MontealegreLuis/fitbit-example"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <h2 id="libraries">
        <i class="fa fa-dropbox"></i>
        Libraries
    </h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-php">
                <div class="panel-heading">
                    <i class="devicon-php-plain"></i>
                    Slim 2 modules
                </div>
                <div class="panel-body">
                    <p>
                        This package introduces Service and Controller providers
                        in order to group your Slim application in a module-like
                        structure similar to Symfony bundles or Zend modules.
                    </p>
                    <pre><code>composer require comphppuebla/slim-modules</code></pre>
                </div>
                <div class="panel-footer">
                    <a
                            href="https://travis-ci.org/ComPHPPuebla/slim-modules"
                            target="_blank"
                            rel="noopener"
                    >
                        <img
                                src="https://travis-ci.org/ComPHPPuebla/slim-modules.svg?branch=master"
                                alt="Build Status"
                        >
                    </a>
                    <a
                            href="https://packagist.org/packages/comphppuebla/slim-modules"
                            target="_blank"
                            rel="noopener"
                    >
                        <img
                                src="https://poser.pugx.org/comphppuebla/slim-modules/license.svg"
                                alt="License"
                        >
                    </a>
                    <a
                            href="https://insight.sensiolabs.com/projects/b86318b0-47ce-4d47-a0a4-db6e98dc8451"
                            target="_blank"
                            rel="noopener"
                    >
                        <img
                                src="https://insight.sensiolabs.com/projects/b86318b0-47ce-4d47-a0a4-db6e98dc8451/mini.png"
                                alt="SensioLabsInsight"
                        >
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-php">
                <div class="panel-heading">
                    <i class="devicon-doctrine-plain"></i>
                    DBAL fixtures
                </div>
                <div class="panel-body">
                    <p>
                        This package allows you to define simple data fixture
                        files using YAML and load them using Doctrine DBAL.
                    </p>
                    <pre><code>composer require comphppuebla/dbal-fixtures</code></pre>
                </div>
                <div class="panel-footer">
                    <a
                            href="https://travis-ci.org/ComPHPPuebla/dbal-fixtures"
                            target="_blank"
                            rel="noopener"
                    >
                        <img
                                src="https://travis-ci.org/ComPHPPuebla/dbal-fixtures.svg?branch=master"
                                alt="Build Status"
                        >
                    </a>
                    <a
                            href="https://packagist.org/packages/comphppuebla/dbal-fixtures"
                            target="_blank"
                            rel="noopener"
                    >
                        <img
                                src="https://poser.pugx.org/comphppuebla/dbal-fixtures/license.svg"
                                alt="License"
                        >
                    </a>
                    <a
                            href="https://insight.sensiolabs.com/projects/d876000d-611d-473f-b58c-64582903f7a9"
                            target="_blank"
                            rel="noopener"
                    >
                        <img
                                src="https://insight.sensiolabs.com/projects/d876000d-611d-473f-b58c-64582903f7a9/mini.png"
                                alt="SensioLabsInsight"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-php">
                <div class="panel-heading">
                    <i class="devicon-php-plain"></i>
                    Easy forms
                </div>
                <div class="panel-body">
                    <p>
                        Light library to decouple form handling from validation,
                        rendering and translation.
                    </p>
                    <pre><code>composer require comphppuebla/easy-forms</code></pre>
                </div>
                <div class="panel-footer">
                    <a
                            href="https://travis-ci.org/ComPHPPuebla/easy-forms"
                            target="_blank"
                            rel="noopener"
                    >
                        <img
                                src="https://travis-ci.org/ComPHPPuebla/easy-forms.svg?branch=master"
                                alt="Build Status"
                        >
                    </a>
                    <a
                            href="https://packagist.org/packages/comphppuebla/easy-forms"
                            target="_blank"
                            rel="noopener"
                    >
                        <img
                                src="https://poser.pugx.org/comphppuebla/easy-forms/license.svg"
                                alt="License"
                        >
                    </a>
                    <a
                            href="https://insight.sensiolabs.com/projects/b21b5fac-a347-4c1a-b9b0-9965a93893ea"
                            target="_blank"
                            rel="noopener"
                    >
                        <img
                                src="https://insight.sensiolabs.com/projects/b21b5fac-a347-4c1a-b9b0-9965a93893ea/mini.png"
                                alt="SensioLabsInsight"
                        >
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-docker">
                <div class="panel-heading">
                    <i class="devicon-docker-plain"></i>
                    Docker container with PHP 7
                </div>
                <div class="panel-body">
                    <p>
                        This is a docker container to easily setup an
                        application on PHP 7. As easy as copying your code to
                        the <code>sites</code> folder
                    </p>
                </div>
                <div class="panel-footer">
                    <a
                            href="https://github.com/MontealegreLuis/php-container"
                            target="_blank"
                            rel="noopener"
                    >
                        <img
                                src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                                alt="license"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="workshops">
    <h2>
        <i class="fa fa-code" aria-hidden="true"></i>
        Coding workshops
    </h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-php">
                <div class="panel-heading">
                    <i class="devicon-php-plain"></i>
                    Composer workshop
                </div>
                <div class="panel-body">
                    This workshop incrementally builds a simple web framework,
                    adding a PHP library with Composer on each phase.
                </div>
                <div class="panel-footer">
                    <a
                        href="https://github.com/ComPHPPuebla/taller-composer"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-php">
                <div class="panel-heading">
                    <i class="devicon-symfony-original"></i>
                    Symfony 2 workshop
                </div>
                <div class="panel-body">
                    The goal of this workshop is to start using the Symfony2
                    components in a legacy application in order to start using
                    the full-stack framework at the end.
                </div>
                <div class="panel-footer">
                    <a
                        href="https://github.com/ComPHPPuebla/sf2workshop"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="video">
    <h2>
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        Video tutorials
    </h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-php">
                <div class="panel-heading">
                    <i class="devicon-php-plain"></i>
                    TDD 101 <small>(spanish)</small>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a
                                href="https://www.youtube.com/watch?v=2GuYLle45bw"
                                target="_blank"
                                rel="noopener"
                            >
                                <img
                                    src="http://i3.ytimg.com/vi/2GuYLle45bw/2.jpg"
                                    alt="TDD 101"
                                >
                            </a>
                        </div>
                        <div class="media-body">
                            This is a live coding demo, to start doing TDD using
                            PHPUnit. It also explains the difference between
                            code transformations and refactoring.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-php">
                <div class="panel-heading">
                    <i class="devicon-php-plain"></i>
                    An overview of testing libraries in PHP <small>(spanish)</small>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a
                                href="https://www.youtube.com/watch?v=6IH2Un35pb0"
                                target="_blank"
                                rel="noopener"
                            >
                                <img
                                    src="http://i3.ytimg.com/vi/6IH2Un35pb0/2.jpg"
                                    alt="Testing in PHP"
                                >
                            </a>
                        </div>
                        <div class="media-body">
                            This is an introduction to testing in PHP using
                            several libraries: Behat, phpspec, PHPUnit, Mockery,
                            Alice, Codeception, Eris, Humbug.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-php">
                <div class="panel-heading">
                    <i class="devicon-php-plain"></i>
                    Slim 2 workshop <small>(spanish)</small>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a
                                href="https://www.youtube.com/watch?v=P5s8Sydo154"
                                target="_blank"
                                rel="noopener"
                            >
                                <img
                                    src="http://i3.ytimg.com/vi/P5s8Sydo154/2.jpg"
                                    alt="Part 1"
                                >
                            </a>
                        </div>
                        <div class="media-body">
                            This is a Slim 2 workshop divided into two videos.
                            It's a small application to upload, browse and play
                            audio files.
                        </div>
                        <div class="media-right">
                            <a
                                href="https://www.youtube.com/watch?v=iRDwfnKOKtk"
                                target="_blank"
                                rel="noopener"
                            >
                                <img
                                    src="http://i3.ytimg.com/vi/iRDwfnKOKtk/2.jpg"
                                    alt="Part 2"
                               >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
