---
layout: default
title: Portfolio
use:
- posts_categories
---
<div class="page-header">
    <h1>
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        Portfolio
    </h1>
</div>
<section>
    <h2>
        <i class="fa fa-dropbox"></i>
        Libraries
    </h2>
    <div class="row">
        <div class="col-sm-12">
            <p>
                These are some packages I created under the PHP Puebla User Group
                <a
                        href="https://github.com/ComPHPPuebla"
                        target="_blank"
                        rel="noopener"
                >
                    organization
                </a>
            </p>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Slim 2 modules</div>
                <div class="panel-body">
                    <p>
                        This package introduces Service and Controller providers
                        in order to group your Slim application in a module-like
                        structure similar to Symfony bundles or Zend modules.
                    </p>
                    <pre><code>composer require comphppuebla/slim-modules</code></pre>
                </div>
                <div class="panel-footer">
                    <a
                        href="https://travis-ci.org/ComPHPPuebla/slim-modules"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://travis-ci.org/ComPHPPuebla/slim-modules.svg?branch=master"
                            alt="Build Status"
                        >
                    </a>
                    <a
                        href="https://packagist.org/packages/comphppuebla/slim-modules"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                                src="https://poser.pugx.org/comphppuebla/slim-modules/license.svg"
                                alt="License"
                        >
                    </a>
                    <a
                        href="https://insight.sensiolabs.com/projects/b86318b0-47ce-4d47-a0a4-db6e98dc8451"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://insight.sensiolabs.com/projects/b86318b0-47ce-4d47-a0a4-db6e98dc8451/mini.png"
                            alt="SensioLabsInsight"
                        >
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">DBAL fixtures</div>
                <div class="panel-body">
                    <p>
                        This package allows you to define simple data fixture
                        files using YAML and load them using Doctrine DBAL.
                    </p>
                    <pre><code>composer require comphppuebla/dbal-fixtures</code></pre>
                </div>
                <div class="panel-footer">
                    <a
                        href="https://travis-ci.org/ComPHPPuebla/dbal-fixtures"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://travis-ci.org/ComPHPPuebla/dbal-fixtures.svg?branch=master"
                            alt="Build Status"
                        >
                    </a>
                    <a
                        href="https://packagist.org/packages/comphppuebla/dbal-fixtures"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://poser.pugx.org/comphppuebla/dbal-fixtures/license.svg"
                            alt="License"
                        >
                    </a>
                    <a
                        href="https://insight.sensiolabs.com/projects/d876000d-611d-473f-b58c-64582903f7a9"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://insight.sensiolabs.com/projects/d876000d-611d-473f-b58c-64582903f7a9/mini.png"
                            alt="SensioLabsInsight"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Easy forms
                </div>
                <div class="panel-body">
                    <p>
                        Light library to decouple form handling from validation,
                        rendering and translation.
                    </p>
                    <pre><code>composer require comphppuebla/easy-forms</code></pre>
                </div>
                <div class="panel-footer">
                    <a
                        href="https://travis-ci.org/ComPHPPuebla/easy-forms"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://travis-ci.org/ComPHPPuebla/easy-forms.svg?branch=master"
                            alt="Build Status"
                        >
                    </a>
                    <a
                        href="https://packagist.org/packages/comphppuebla/easy-forms"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://poser.pugx.org/comphppuebla/easy-forms/license.svg"
                            alt="License"
                        >
                    </a>
                    <a
                        href="https://insight.sensiolabs.com/projects/b21b5fac-a347-4c1a-b9b0-9965a93893ea"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://insight.sensiolabs.com/projects/b21b5fac-a347-4c1a-b9b0-9965a93893ea/mini.png"
                            alt="SensioLabsInsight"
                        >
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Docker container with PHP 7
                </div>
                <div class="panel-body">
                    <p>
                        This is a docker container to easily setup an
                        application on PHP 7. As easy as copying your code to
                        the <code>sites</code> folder
                    </p>
                </div>
                <div class="panel-footer">
                    <a
                        href="https://github.com/MontealegreLuis/php-container"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <h2>
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        Examples
    </h2>
    <p>
       These are some repositories with code samples.
    </p>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Hibernate example
                </div>
                <div class="panel-body">
                    This is a command line application, showing how to map a
                    many to many relationship using XML, and how to write some HQL
                    queries.
                </div>
                <div class="panel-footer">
                    <a
                        href="https://github.com/MontealegreLuis/hibernate-example"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Web application with Servlets example
                </div>
                <div class="panel-body">
                    This is a small web application with a catalog of movies.
                </div>
                <div class="panel-footer">
                    <a
                        href="https://github.com/MontealegreLuis/hibernate-example"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://img.shields.io/github/license/mashape/apistatus.svg?maxAge=2592000"
                            alt="license"
                        >
                    </a>
                    <a
                        href="https://travis-ci.org/MontealegreLuis/movies"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            src="https://travis-ci.org/MontealegreLuis/movies.svg?branch=master"
                            alt="Build Status"
                        >
                    </a>
                    <a
                        href="https://codebeat.co/projects/github-com-montealegreluis-movies"
                    >
                        <img
                            src="https://codebeat.co/badges/9a9920f0-dbf3-4424-a5dc-e7d429870bdc"
                            alt="codebeat badge"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
