---
layout: en/static
title: Talks
---
<header class="row">
    <div class="col-sm-12">
        <h1 class="title">
            <span class="glyphicon glyphicon-facetime-video"></span>
            My favorite talks
        </h1>
        <p>These are the talks that have had a huge impact on how I approach software development</p>
    </div>
</header>
<main class="row">
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=uQUxJObxTUs">
                        <img
                            class="media-object" src="http://i3.ytimg.com/vi/uQUxJObxTUs/1.jpg"
                            alt="Min-maxing Software Costs"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Min-maxing Software Costs
                        <small>Konstantin Kudryashov</small>
                    </h4>
                    <p>Gaming software costs using 3 rules</p>
                    <ul>
                        <li>Own everything you write</li>
                        <li>Try not to write anything</li>
                        <li>Reuse everything else</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=ZBiexI2mv-k">
                        <img
                            class="media-object" src="http://i3.ytimg.com/vi/ZBiexI2mv-k/2.jpg"
                            alt="Things I Believe Now That I'm Old"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Things I Believe Now That I'm Old
                        <small>Ross Tuck</small>
                    </h4>
                    <p>Advice on advice</p>
                    <ul>
                        <li>Consider the source, consider the context</li>
                        <li>Be open to advice, use the advice, meditate on it</li>
                        <li>Give advice, collect advice</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=_xjpO3y_Np4">
                        <img
                            class="media-object" src="http://i3.ytimg.com/vi/_xjpO3y_Np4/2.jpg"
                            alt="The Silver Bullet Syndrome"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        The Silver Bullet Syndrome
                        <small>Hadi Hariri</small>
                    </h4>
                    <p>There is no silver bullet...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=MS3c9hz0bRg">
                        <img
                            class="media-object" src="http://i3.ytimg.com/vi/MS3c9hz0bRg/1.jpg"
                            alt="Software is Details"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Software is Details
                        <small>Kevlin Henney</small>
                    </h4>
                    <p>
                        Programming is a design activity. Programming is a commitment to details.
                        Knowledge is the very currency of software. <strong>Details count</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://vimeo.com/79106557">
                        <img
                            class="media-object"
                            src="https://i.vimeocdn.com/video/454714681_100x75.jpg"
                            alt="7 minutes, 26 seconds, and the Fundamental Theorem of Agile Software
                        Development"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        7 minutes, 26 seconds, and the Fundamental Theorem of Agile Software
                        Development <small>J. B. Rainsberger</small>
                    </h4>
                    <p>
                        Great explanation on how to use TDD to reduce accidental complication
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=8bZh5LMaSmE">
                        <img
                            class="media-object"
                            src="http://i3.ytimg.com/vi/8bZh5LMaSmE/3.jpg"
                            alt="All the Little Things"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        All the Little Things <small>Sandi Metz</small>
                    </h4>
                    <p>
                        Want better apps? Make smaller things... yeah that's it.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
