---
layout: en/static
title: Talks
---
<header class="row">
    <div class="col-sm-12">
        <h1 class="title">
            <span class="glyphicon glyphicon-facetime-video"></span>
            My favorite talks
        </h1>
        <p>These are the talks that have had a huge impact on how I approach software development</p>
    </div>
</header>
<main class="row">
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=uQUxJObxTUs">
                        <img
                            class="media-object" src="http://i3.ytimg.com/vi/uQUxJObxTUs/1.jpg"
                            alt="Min-maxing Software Costs"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Min-maxing Software Costs
                        <small>Konstantin Kudryashov</small>
                    </h4>
                    <p>Gaming software costs using 3 rules</p>
                    <ul>
                        <li>Own everything you write</li>
                        <li>Try not to write anything</li>
                        <li>Reuse everything else</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=ZBiexI2mv-k">
                        <img
                            class="media-object" src="http://i3.ytimg.com/vi/ZBiexI2mv-k/2.jpg"
                            alt="Things I Believe Now That I'm Old"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Things I Believe Now That I'm Old
                        <small>Ross Tuck</small>
                    </h4>
                    <p>Advice on advice</p>
                    <ul>
                        <li>Consider the source, consider the context</li>
                        <li>Be open to advice, use the advice, meditate on it</li>
                        <li>Give advice, collect advice</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=_xjpO3y_Np4">
                        <img
                            class="media-object" src="http://i3.ytimg.com/vi/_xjpO3y_Np4/2.jpg"
                            alt="The Silver Bullet Syndrome"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        The Silver Bullet Syndrome
                        <small>Hadi Hariri</small>
                    </h4>
                    <p>There is no silver bullet...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=MS3c9hz0bRg">
                        <img
                            class="media-object" src="http://i3.ytimg.com/vi/MS3c9hz0bRg/1.jpg"
                            alt="Software is Details"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Software is Details
                        <small>Kevlin Henney</small>
                    </h4>
                    <p>
                        Programming is a design activity. Programming is a commitment to details.
                        Knowledge is the very currency of software. <strong>Details count</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=8bZh5LMaSmE">
                        <img
                            class="media-object"
                            src="http://i3.ytimg.com/vi/8bZh5LMaSmE/3.jpg"
                            alt="All the Little Things"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        All the Little Things <small>Sandi Metz</small>
                    </h4>
                    <p>
                        Want better apps? Make smaller things... yeah that's it.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://vimeo.com/79106557">
                        <img
                            class="media-object"
                            src="https://i.vimeocdn.com/video/454714681_100x75.jpg"
                            alt="7 minutes, 26 seconds, and the Fundamental Theorem of Agile Software
                        Development"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        7 minutes, 26 seconds, and the Fundamental Theorem of Agile Software
                        Development <small>J. B. Rainsberger</small>
                    </h4>
                    <p>
                        Great explanation on how to use TDD to reduce accidental complication
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=FKTxC9pl-WM">
                        <img
                            class="media-object"
                            src="http://i3.ytimg.com/vi/FKTxC9pl-WM/2.jpg"
                            alt="Making Badass Developers"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Making Badass Developers <small>Kathy Sierra</small>
                    </h4>
                    <p>
                        Half-a-skill beats a half-assed skill. Practice does not make perfect.
                        Practice makes <strong>permanent</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=FS1mnISoG7U">
                        <img
                            class="media-object"
                            src="http://i3.ytimg.com/vi/FS1mnISoG7U/2.jpg"
                            alt="Scaling Yourself"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Scaling Yourself <small>Scott Hanselman</small>
                    </h4>
                    <p>
                        If it's not improving my life in some way, it's mental clutter and it's out.
                        Excellent advice on how to end the day without guilt.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=gAQ6t3F_2Ug">
                        <img
                            class="media-object"
                            src="http://i3.ytimg.com/vi/gAQ6t3F_2Ug/2.jpg"
                            alt="Model-Minded Development"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Model-Minded Development <small>George Fairbanks</small>
                    </h4>
                    <p>
                        Programming is theory building. Programming is distributed cognition.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.destroyallsoftware.com/talks/boundaries">
                        <img
                            class="media-object"
                            src="/images/boundaries.png"
                            alt="Boundaries"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Boundaries <small>Gary Bernhardt</small>
                    </h4>
                    <p>
                        Best explanation of the actor model I've seen. Functional core, imperative
                        shell.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://vimeo.com/108441214">
                        <img
                            class="media-object"
                            src="https://i.vimeocdn.com/video/492122663_100x75.jpg"
                            alt="The art of destroying software"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        The art of destroying software <small>Greg Young</small>
                    </h4>
                    <p>
                        Never write big programs. Your code should be easy to delete. Optimize for
                        your <strong>ability to rewrite yor system</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=HQXVKHoUQxY">
                        <img
                            class="media-object"
                            src="http://i3.ytimg.com/vi/HQXVKHoUQxY/1.jpg"
                            alt="Connascence Examined"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Connascence Examined <small>Jim Weirich</small>
                    </h4>
                    <p>
                        Connascence in software are those things that need to change together.
                        It is important because <strong>change is expensive</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=veTVAN0oEkQ">
                        <img
                            class="media-object"
                            src="http://i3.ytimg.com/vi/veTVAN0oEkQ/3.jpg"
                            alt="Event Storming"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Event Storming
                        <small>Alberto Brandolini</small>
                    </h4>
                    <p>
                        DDD is for rewriting software frequently. Event storming is an act of
                        deliberate collective learning. Value is in the <strong>interaction between
                        people</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=iu5WB-NvHFc">
                        <img
                            class="media-object"
                            src="http://i3.ytimg.com/vi/iu5WB-NvHFc/2.jpg"
                            alt="Testing Lessons from Extreme Programmers"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Testing Lessons from Extreme Programmers
                        <small> Elisabeth Hendrickson</small>
                    </h4>
                    <p>
                        Effective testing involves a whole team effort.
                        This talk also introduced me to the concept of <strong>exploratory testing
                        </strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=vqEg37e4Mkw">
                        <img
                            class="media-object"
                            src="http://i3.ytimg.com/vi/vqEg37e4Mkw/2.jpg"
                            alt="Workflows of refactoring"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Workflows of refactoring
                        <small>Martin Fowler</small>
                    </h4>
                    <p>
                        The only reason to refactor is to <strong>deliver more functionality more
                        quickly</strong>. The types are: TDD, litter pickup, comprehension,
                        preparatory and long term refactoring
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=B93QezwTQpI">
                        <img
                            class="media-object"
                            src="http://i3.ytimg.com/vi/B93QezwTQpI/1.jpg"
                            alt="The Transformation Priority Premise"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        The Transformation Priority Premise
                        <small>Robert Martin</small>
                    </h4>
                    <p>
                        Every new test adds a new constraint. As the tests gets more specific, the
                        code must get more generic. Every change that makes the code more generic is
                        a <strong>transformation</strong>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="media">
                <div class="media-left">
                    <a href="https://www.youtube.com/watch?v=okUmXP1vAic">
                        <img
                            class="media-object"
                            src="http://i3.ytimg.com/vi/okUmXP1vAic/3.jpg"
                            alt="Metaphors We Compute By"
                        >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        Metaphors We Compute By
                        <small>Alvaro Videla</small>
                    </h4>
                    <p>
                        To program is to write to another programmer about our solution to a
                        problem. Metaphors are a tool to do so, for instance, without types we just
                        have operations on streams of bytes
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
